.place-order {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .order-summary {
    margin-bottom: 20px;
  }
  
  .order-details {
    margin-bottom: 10px;
  }
  
  .order-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .order-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .order-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .order-form button {
    border: none;
    color: white;
    background-color: tomato;
    width: max(55vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .order-form button:hover {
    background-color: tomato;
  }
  

  @media (max-width: 360px) {
    .place-order {
      padding: 10px;
    }
  
    .order-form {
      padding: 15px;
    }
  
    .order-form button {
      width: 100%;
      padding: 12px;
    }
  }
  
  
  @media (max-width: 480px) {
    .place-order {
      padding: 15px;
    }
  
    .order-form {
      padding: 15px;
    }
  
    .order-form button {
      width: 100%;
      padding: 12px;
    }
  }
  
 
  @media (max-width: 768px) {
    .place-order {
      padding: 20px;
    }
  
    .order-form {
      padding: 20px;
    }
  }
  

  @media (max-width: 1024px) {
    .place-order {
      padding: 20px;
      max-width: 80%;
    }
  
    .order-form {
      padding: 20px;
    }
  }
  